[Desktop Entry]
Version=1.0
Type=Application
Name=Pulse-Vault
Comment=Local encrypted file vault
Exec=pulse-vault %f
Icon=pulse-vault
Terminal=false
Categories=Utility;Security;FileTools;
MimeType=application/x-pulsevault;
StartupNotify=true
